<div class="col-lg-12">
    This page provide an overview of some of the configuration value of the Leosac system.
    <br> <br>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" {{action 'refreshOverview'}}>
                <i style="color: green" class="fa fa-refresh"></i> Refresh
            </a>
        </div>

        <div class="panel-body">
          {{system-overview}}
        </div>
    </div>

  {{simple-number-picker desc='Per page'
  userNumber=logPerPage
  }}

    There is a total of {{totalLogs}} log messages.

  {{numbered-paginator first=0
  last=lastLogPage
  current=currentLogPage
  onPageChange=(action "updateLogPageNumber")
  }}

    <div class="panel panel-default">
        <div class="panel-heading">
            Last logs
        </div>

        <div class="panel-body">
          {{logs-view logs=lastLogs}}
        </div>
    </div>
</div>
